<nb-layout>

  <nb-layout-header>
    <h3 class="mb-0 logo" routerLink="dashboard">Meowgram</h3>
    <div class="text-end w-100"  style="float: right;" *ngIf="isUserLoggedIn">
      <button nbButton status="primary" outline (click)="logout()">
        Logout
      </button>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <p class="mb-0">Copyright &copy; 1997-2021 Bitdefender. All rights reserved.</p>
  </nb-layout-footer>

</nb-layout>
<app-loader [loading]="loading"></app-loader>
