<nb-card class="col-4 m-auto mt-5">
  <nb-card-body class="py-5">
    <h1 id="title" class="title">Register</h1>

    <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger"
      role="alert">
      <p class="alert-title"><b>Oh snap!</b></p>
      <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
      </ul>
    </nb-alert>

    <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success"
      role="alert">
      <p class="alert-title"><b>Hooray!</b></p>
      <ul class="alert-message-list">
        <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
      </ul>
    </nb-alert>

    <form (ngSubmit)="register()" #form="ngForm" aria-labelledby="title">

      <div class="form-control-group">
        <label class="label" for="input-name">Full name:</label>
        <input nbInput [(ngModel)]="user.fullName" #fullName="ngModel" id="input-name"
          name="fullName" placeholder="Full name" autofocus fullWidth
          [status]="fullName.dirty ? (fullName.invalid  ? 'danger' : 'success') : ''"
          [required]="getConfigValue('forms.validation.fullName.required')"
          [minlength]="getConfigValue('forms.validation.fullName.minLength')"
          [maxlength]="getConfigValue('forms.validation.fullName.maxLength')"
          [attr.aria-invalid]="fullName.invalid && fullName.touched ? true : null">
        <ng-container *ngIf="fullName.invalid && fullName.touched">
          <em class="error-message text-danger error-text-size" *ngIf="fullName.errors?.required">
            Full name is required!
          </em>
          <em class="error-message text-danger error-text-size"
            *ngIf="fullName.errors?.minlength || fullName.errors?.maxlength">
            Full name should contains
            from {{getConfigValue('forms.validation.fullName.minLength')}}
            to {{getConfigValue('forms.validation.fullName.maxLength')}}
            characters
          </em>
        </ng-container>
      </div>

      <div class="form-control-group">
        <label class="label" for="input-email">Email address:</label>
        <input nbInput [(ngModel)]="user.email" #email="ngModel" id="input-email" name="email"
          pattern=".+@.+..+" placeholder="Email address" fullWidth
          [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
          [required]="getConfigValue('forms.validation.email.required')"
          [attr.aria-invalid]="email.invalid && email.touched ? true : null">
        <ng-container *ngIf="email.invalid && email.touched">
          <em class="error-message text-danger error-text-size" *ngIf="email.errors?.required">
            Email is required!
          </em>
          <em class="error-message text-danger error-text-size" *ngIf="email.errors?.pattern">
            Email should be the real one!
          </em>
        </ng-container>
      </div>

      <div class="form-control-group">
        <label class="label" for="input-password">Password:</label>
        <input nbInput [(ngModel)]="user.password" #password="ngModel" type="password"
          id="input-password" name="password" placeholder="Password" fullWidth
          [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
          [required]="getConfigValue('forms.validation.password.required')"
          [minlength]="getConfigValue('forms.validation.password.minLength')"
          [maxlength]="getConfigValue('forms.validation.password.maxLength')"
          [attr.aria-invalid]="password.invalid && password.touched ? true : null">
        <ng-container *ngIf="password.invalid && password.touched">
          <em class="error-message text-danger error-text-size" *ngIf="password.errors?.required">
            Password is required!
          </em>
          <em class="error-message text-danger error-text-size"
            *ngIf="password.errors?.minlength || password.errors?.maxlength">
            Password should contains
            from {{ getConfigValue('forms.validation.password.minLength') }}
            to {{ getConfigValue('forms.validation.password.maxLength') }}
            characters
          </em>
        </ng-container>
      </div>

      <div class="form-control-group">
        <label class="label" for="input-re-password">Repeat password:</label>
        <input nbInput [(ngModel)]="user.rePass" #rePass="ngModel" type="password"
          id="input-re-password" name="rePass" placeholder="Confirm Password" fullWidth
          [status]="rePass.dirty ? (rePass.invalid || password.value != rePass.value  ? 'danger' : 'success') : ''"
          [required]="getConfigValue('forms.validation.password.required')"
          [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null">
        <ng-container *ngIf="rePass.invalid && rePass.touched || rePass.touched && password.value != rePass.value">
          <em class="error-message text-danger error-text-size" *ngIf="rePass.errors?.required">
            Password confirmation is required!
          </em>
          <em class="error-message text-danger error-text-size"
            *ngIf="password.value != rePass.value && !rePass.errors?.required">
            Password does not match the confirm password.
          </em>
        </ng-container>
        <app-password-meter [passwordToCheck]="user.password" barLabel="Password strength:"></app-password-meter>
      </div>

      <button nbButton fullWidth status="success" [disabled]="!form.valid"
        [class.btn-pulse]="submitted" class="my-4">
        Register
      </button>
    </form>

    <section *ngIf="socialLinks && socialLinks.length > 0" class="links"
      aria-label="Social sign in">
      or enter with:
      <div class="socials">
        <ng-container *ngFor="let socialLink of socialLinks">
          <a *ngIf="socialLink.link" [routerLink]="socialLink.link"
            [attr.target]="socialLink.target" [attr.class]="socialLink.icon"
            [class.with-icon]="socialLink.icon">{{ socialLink.title
            }}</a>
          <a *ngIf="socialLink.url" [attr.href]="socialLink.url" [attr.target]="socialLink.target"
            [attr.class]="socialLink.icon" [class.with-icon]="socialLink.icon">{{ socialLink.title
            }}</a>
        </ng-container>
      </div>
    </section>

    <section class="another-action" aria-label="Sign in">
      Already have an account? <a class="text-link" routerLink="../">Log in</a>
    </section>
  </nb-card-body>
</nb-card>
