<app-loader [loading]="loading"></app-loader>
<div class="container">
  <div class="row">
    <nb-card class="col-12">

      <div class="row py-3">
        <div class="col-xl-3 col-md-4 col-12">
          <p class="mb-1">Breed:</p>
          <nb-select placeholder="Select breed" [(selected)]="selectedBreed"
            (selectedChange)="onSelectBreed()">
            <nb-option *ngFor="let option of breeds" [value]="option">
              {{ option.name }}
            </nb-option>
          </nb-select>
          <button type="button" nbButton ghost (click)="resetFilter()">
            <nb-icon icon="close-outline"></nb-icon>
          </button>
        </div>
      </div>

      <nb-list nbInfiniteList listenWindowScroll [threshold]="0" (bottomThreshold)="loadNext()">
        <nb-list-item *ngFor="let cat of cats" class="flex-wrap list-item" [routerLink]="['/details', cat.id]">
          <nb-user size="giant" [name]="getNameId(cat)" [title]="cat.breed.origin || 'Planet Earth'"
            class="nb-user col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12" [picture]="cat.url">
          </nb-user>
          <div class="description col">
            <h6>Temperament:</h6>
            {{cat.breed.temperament || 'Very funny, Friendly'}}
          </div>
        </nb-list-item>
        <nb-list-item *ngFor="let _ of placeholders">
          <nb-news-post-placeholder></nb-news-post-placeholder>
        </nb-list-item>
      </nb-list>
      <nb-news-post-placeholder *ngIf="!cats.length && !placeholders.length" class="text-center">
        <p>No cats found!</p>
      </nb-news-post-placeholder>
    </nb-card>
  </div>
</div>
